<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="verbose" value="true"/>
  	
    <arg name="world_name" value="$(find autonomos_gazebo)/worlds/robotics.world"/>
    <!-- more default parameters can be changed here -->
  </include>
     <node name = "spawn_model" pkg = "gazebo_ros" type = "spawn_model" output = "screen" args="-sdf -model AutoNOMOS_mini -file $(find autonomos_gazebo)/models/AutoNOMOS_mini/model.sdf " /> 

     <node name = "tf_autonomos" pkg = "autonomos_simulation" type = "tf2_broadcaster_node" args = "AutoNOMOS_mini" />

     <node name = "robot_pose" pkg = "autonomos_simulation" type = "robot_pose_publisher" />     
     
     <node name = "spawn_cam_model" pkg = "gazebo_ros" type = "spawn_model" output = "screen" args="-sdf -model rgb_cam -file $(find autonomos_gazebo)/models/rgb_cam/model.sdf " />

</launch>
